/* Keyframes for View Transitions and other animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

/* Responsive Visibility Utilities */
/* Secara default (mobile-first approach): tampilkan elemen mobile, sembunyikan elemen desktop */


/* Media Queries */

@media screen and (width > 400px) {
  /* Apply new view transition animations at this breakpoint */
  .main-header-container{
    display:flex;
    gap: 10rem;
  }
  ::view-transition-old(root) {
    animation:
      fade-out 90ms cubic-bezier(0.4, 0, 1, 1) both,
      slide-to-left 300ms cubic-bezier(0.4, 0, 0.2, 1) both;
  }

  ::view-transition-new(root) {
    animation:
      fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both,
      slide-from-right 300ms cubic-bezier(0.4, 0, 0.2, 1) both;
  }

  form .form-buttons {
    flex-direction: row;
    align-items: center;
  }

  /* MAIN */
  /* LOGIN & REGISTER */
  .register-form,
  .login-form {
    border: 1px solid #d4d4d4;
  }

  /* Story detail */
  .story-detail__images {
    height: 400px;
  }

  /* New documentations */
  .new-form__documentations__buttons {
    flex-direction: row;
  }

  .new-form__documentations__outputs {
    grid-template-columns: repeat(2, minmax(200px, 300px));
  }
}

@media screen and (width > 600px) {
  /* MAIN */
  .stories-list__map__container,
  .stories-list__map {
    height: 500px;
  }

  .main-header-container{
    display:flex;
    gap: 30rem;
  }
  .stories-list {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  .story-detail__images {
    height: 500px;
  }

  .new-form__documentations__outputs {
    grid-template-columns: repeat(3, minmax(200px, 300px));
  }

  /* FOOTER */
  footer .footer-content {
    justify-content: space-between;
  }
}
@media screen and (width > 978px) {
  /* MAIN */
  .stories-list__map__container,
  .stories-list__map {
    height: 500px;
  }

  .main-header-container{
    display:flex;
    gap: 35rem;
  }
  .stories-list {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  .story-detail__images {
    height: 500px;
  }

  .new-form__documentations__outputs {
    grid-template-columns: repeat(3, minmax(200px, 300px));
  }

  /* FOOTER */
  footer .footer-content {
    justify-content: space-between;
  }
}

@media screen and (width > 1000px) {
  /* HEADER */
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    transform: translateY(0);
    opacity: 1;
  }
  .main-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

  }
  .drawer-button{
    display: none;
  }
  .nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:25rem;
  }

  .navigation-drawer__navlist-main,
  .navigation-drawer__navlist {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }



  /* MAIN */
  .stories-list__map__container,
  .stories-list__map {
    height: 600px;
  }

  .stories-list {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

  .story-detail__images {
    height: 600px;
  }
}